*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: flex;
  align-items: end;
  gap: 30px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  inset: 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 4px;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
}

fieldset {
  display: inline;
  border: none;
}

.search-form__label {
  display: inline;
  width: fit-content;
}

.button,
.search-form__label {
  cursor: pointer;
}

input {
  border: none;
}

.search-form__textfield {
  appearance: none;
  min-inline-size: 225px;
  min-block-size: 27px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  width: 212px;
  height: 49px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

input[type="checkbox"] + span {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  background: transparent;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.button {
  width: 194px;
  min-height: 34px;
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
}

input[type=checkbox]:checked + .search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  background: #FFF;
  outline: 1px solid #FFF;
  outline-offset: 1px;
  margin-right: 4px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: -3px;
}

.search-form__submit-button:active {
  background: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
}

.title {
  color: inherit;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  width: 100%;
  overflow: auto;
  position: relative;
}

.content__list-item {
  margin: 1px;
  display: grid;
  grid-column: 2fr;
}

.content__card-link {
  display: block;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
}

.content__video-card-title {
  color: inherit;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.more-button {
  width: 100%;
}

.content__list-item:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1.5px;
  text-underline-offset: 6px;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #FFF;
}

.more-button:hover {
  text-decoration: underline;
}

.more-button:active {
  background: #545050;
}

.result__video-container:has(:focus-visible) {
  outline: 1px solid #FFF;
}

